<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277965878179-1d4m98408dpjhgp1pcgplkv6e6j51pi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277965878179-1d4m98408dpjhgp1pcgplkv6e6j51pi0</string>
	<key>API_KEY</key>
	<string>AIzaSyDpsH6t4spjhKlAv9o-i9NgYfxQeQB8rFU</string>
	<key>GCM_SENDER_ID</key>
	<string>277965878179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voyagym.voyagymapp</string>
	<key>PROJECT_ID</key>
	<string>voyagym-2f22f</string>
	<key>STORAGE_BUCKET</key>
	<string>voyagym-2f22f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277965878179:ios:ab5abb2b988cecb6f3a016</string>
</dict>
</plist>